  
.Button {
  background-color: #00ADB5;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  box-shadow: 1px 2px #018c91;
}

.Success {
  color: white;
}


.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}